* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.cds {
    color: #3FA9D9;
}

.flex {
    display: flex;
    flex-direction: row
}

.gris {
    color: #4B5157
}

.rond {
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.rond-1 {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
}

.rond-2 {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

.shadow-1 {
    -webkit-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 40px -20px rgba(0, 0, 0, .75);
}

.btn-outline-cds {
    color: #3FA9D9;
    border-color: #3FA9D9;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3FA9D9;
    border-color: #3FA9D9;
}

.navbar {
    padding: 0;
    padding-left: .5rem;
    padding-right: .5rem;
}

nav .nav-item {
    padding: .5rem 0;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #3FA9D9
}

nav .nav-item:hover {
    margin-top: -3px;
    border-bottom: 3px solid #3FA9D9
}

nav .nav-item:hover .nav-link {
    margin-top: 3px;
    height: 37px
}

.margin-auto {
    margin: auto
}

.hub {
    background-color: #3FA9D9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3px;
    color: #FFF
}

.container .content-site {
    width: 66%;
    padding-top: 50px
}

.container .sidebar {
    width: 33%;
    padding-top: 50px;
    padding-left: 2.5%;
}

article {
    width: 45%;
    margin: 2.5%;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 280px;
    transition-duration: .5s;
}

article:hover {
    margin-top: 1%;
    margin-bottom: 4%;
    transition-duration: .5s;
}

article .bottom {
    padding: 15px 20px;
}

article h1 {
    font-size: 1rem;
    font-weight: bold
}

article h2 {
    font-size: 0.8rem;
    font-weight: bold
}

article img {
    border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    width: 100%;
    height: 200px
}

.container .sidebar h1 {
    margin-top: 2.5%;
    font-size: 1.6rem;
    font-weight: bold
}

.container .sidebar .article {
    border-bottom: 1px solid #ECEEF2;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 20px
}

.container .sidebar .article h1 {
    margin-top: 2.5%;
    font-size: 1rem;
    font-weight: bold
}

.container .sidebar .article h2 {
    margin-top: 2.5%;
    font-size: 0.8rem;
    font-weight: bold
}

nav .right {
    color: #3FA9D9;
    padding: .5rem 1rem
}

#connexion {
    margin-top: 50px;
    padding: 2.5rem 5rem
}

#connexion h1 {
    margin-bottom: 20px
}

.noir {
    color: #000
}

.bold {
    font-weight: bold
}

.btn-reset {
    background-color: transparent;
    border: transparent;
}

.input-basic {
    width: 100%;
    padding: 10px 15px
}

.btn-website {
    background: linear-gradient(90deg, <?=$config->cds_rgba("1") ?> 0%, <?=$config->cds_rgba("0.8") ?> 35%, <?=$config->cds_rgba("0.6") ?> 100%);
    border-color: linear-gradient(90deg, <?=$config->cds_rgba("1") ?> 0%, <?=$config->cds_rgba("0.8") ?> 35%, <?=$config->cds_rgba("0.6") ?> 100%);
    border-right: transparent;
    color: #FFF
}

#article .article_content {
    width: 66%;
    padding-top: 50px
}

#article .article_content img {
    max-width: 100%
}

#voirPlus {
    cursor: pointer;
}

#commentaires .flex {
    justify-content: space-between;
    width: 100%
}

#commentaires h2 {
    font-size: 25px;
    font-weight: bold;
}

#commentaires h2 i {
    color: grey;
    font-weight: initial;
}

.flex.column {
    flex-direction: column;
}

footer .social a i {
    font-size: 30px;
    background-color: #212529;
    color: #FFF;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    padding: 10px;
    width: 49px;
    color: #FFF;
    text-align: center;
}

#panel {
    justify-content: space-between
}

#panel {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    transition-duration: .5s;
    padding: 20px 10px;
    margin-top: 30px
}

#panel:hover {
    transform: scale(0.98);
    transition-duration: .5s;
}

#panel #panelMenu {
    width: 33%;
}

#panel #panelMenu .item {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer
}

#panel #panelMenu .item.active {
    background-color: #3FA9D9;
    color: #FFF
}

#panel #panelMenu .item:hover {
    color: #3FA9D9;
}

#panel #panelMenu .item.active:hover {
    color: #FFF
}

#panel #panelMenu .item .left {
    width: 33%
}

#panel #panelMenu .item .right {
    width: 66%
}

#panel #panelContent {
    width: 66%;
}

#panel #panelChildContent .article {
    justify-content: space-between
}

#panel #panelChildContent .article .left {
    text-align: left;
    width: 75%
}

#panel #panelChildContent .article .right {
    width: 25%;
    justify-content: flex-end;
}

#panel #panelChildContent .article button {
    height: 37px;
    width: 37px;
}

#panel #panelChildContent .article h1 {
    font-size: 20px
}

#panel #panelChildContent .article h2 {
    font-size: 15px
}

#panel2 {
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    transition-duration: .5s;
    padding: 30px;
    margin-top: 30px
}

#panel2:hover {
    transform: scale(0.98);
    transition-duration: .5s;
}

a.btnEdit {
    background-color: #47d91a;
    color: #FFF;
    height: 37px;
    width: 37px;
    border-radius: .25rem;
    border: 1px solid #41c718;
}

#panel2 .article {
    justify-content: space-between
}

#panel2 .article .left {
    text-align: left;
    width: 75%
}

#panel2 .article .right {
    width: 25%;
    justify-content: flex-end;
}

#panel2 .article button {
    height: 37px;
    width: 37px;
}

#panel2 .article h1 {
    font-size: 20px
}

#panel2 .article h2 {
    font-size: 15px
}

a.btnRetour {
    color: #FFF !important;
}

#apropos {
    height: 80vh
}

#apropos .margin-auto {
    width: 60%
}

#contact {
    margin-top: 30px
}

#contact .margin-auto {
    width: 60%
}

a.btnReply {
    height: 37px;
    width: 37px;
}

a.btnReply i {
    color: #FFF
}

.btn.writeArticle {
    width: 100%;
    color: #FFF !important;
    margin-bottom: 30px
}

#categorie {
    display: initial;
    width: 20%
}

@media(max-width: 1096px) {
    .msxi-none {
        display: none
    }
}

@media(max-width: 991px) {
    .navbar {
        padding: 10px
    }

    #articles_home {
        flex-direction: column;
    }

    #articles_home .content-site {
        width: 100%;
        margin: auto;
        flex-direction: row;
        justify-content: space-between
    }

    #articles_home .content-site article {
        width: 45%;
        margin: auto;
        margin-bottom: 5%
    }

    #article .sidebar {
        width: 100%
    }

    #article {
        flex-direction: column;
    }

    #article .article_content {
        width: 100%;
        margin: auto;
        flex-direction: row;
        justify-content: space-between
    }

    #article .article_content img {
        max-width: 100%
    }

    #article .sidebar {
        width: 100%
    }

    .m-w-100 {
        width: 100% !important
    }

    #connexion h1 {
        font-size: 7vw;
        text-align: center;
    }

    footer .mb-1 {
        flex-direction: column;
    }

    footer .mb-1-1 {
        margin-bottom: 1.5rem;
    }

    #apropos {
        height: initial;
        margin-top: 30px
    }

    #apropos .margin-auto {
        width: 90%
    }

    .msxi-none {
        display: block
    }

    #panel2 .subPanel2 {
        flex-direction: column;
    }

    #panel2 .subPanel2 .subsubPanel2 {
        width: 100%;
        max-width: 100%
    }

    #panel2 .subPanel2 .othersubsubPanel2 {
        width: 100%;
        max-width: 100%;
        margin-top: 30px
    }

    #panel2 .subPanel2 .othersubsubPanel2 .gris {
        width: 100%;
        max-width: 100%;
        word-wrap: break-word;
    }

    #categorie {
        display: initial;
        width: 100%
    }

    #btnSaveArticle,
    .btnCancelArticle {
        width: 49%;
        margin-top: 20px
    }

    .container .sidebar {
        width: 100%
    }
}

@media(max-width: 768px) {
    #articles_home .content-site article {
        width: 90%;
        margin: auto;
        margin-bottom: 20px
    }
}

.hidden {
    display: none
}