{% extends 'template.html.twig' %}

{% block body %}
    <section id="apropos" class="container flex column">
        <div class="margin-auto">
            <h1 class="text-center">Un écrivain qui vous transmet le goût du voyage...</h1>
            <p class="mt-4">Duis et purus a nunc tempus tempus vel id felis. Mauris faucibus pellentesque hendrerit. Nunc imperdiet est id lacus ornare rhoncus et ut quam. Curabitur accumsan turpis sed sem laoreet, ac tempus nisl blandit. Donec enim ante, imperdiet a egestas ornare, dapibus non neque. In sit amet purus nibh. In hac habitasse platea dictumst. Vivamus tristique commodo lacus non interdum.</p>
            <p>Cras eu arcu posuere, maximus erat quis, porta arcu. Nam vel egestas ex, sit amet aliquam ex. Curabitur tristique finibus purus, vitae ultricies elit. Suspendisse malesuada nec massa id facilisis. Praesent sagittis ut neque non porta. Suspendisse porta vulputate sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        </div>
    </section>
{% endblock %}