{% extends 'template.html.twig' %}

{% block body %}
<section id="article" class="container flex">
    <div class="article_content">
        <h1 class="text-center">{{article.nom}}</h1>
        <p>{{article.contenu|raw}}</p>
        <p><span class="cds">Chapitre {{article.categorie}}</span> - Posté le {{ article.created|date("d/m/Y") }} à
            {{ article.created|date("H:i:s") }}</p>
    </div>
    <div class="sidebar">
        <h1 class="gris">Derniers articles</h1>
        <div class="content">
            {% for donnee in articles %}
            <div class="article">
                <a href="/article/?article={{ donnee.id }}">
                    <h1 class="cds">Chapitre {{ donnee.categorie }} <span>- {{ donnee.created|date("d/m/Y") }} à
                            {{ donnee.created|date("H:i:s") }}</span></h1>
                    <h2 class="gris">{{ donnee.nom }}, {{ reducContent(donnee.contenu, 30) }}...</h2>
                </a>
            </div>
            {% else %}
            <em>Aucun article</em>
            {% endfor %}
        </div>
    </div>
</section>
<section id="giveBack" class="container">
    <h1>Donnez votre avis</h1>
    <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudo" placeholder="Pseudo">
    </div>
    <div class="form-group">
        <label for="commentaire">Commentaire</label>
        <textarea class="form-control" placeholder="Votre commentaire" id="commentaire" rows="3"></textarea>
    </div>
    <button id="btnCommentaire" class="btn btn-primary">Valider</button>
    <p id="resultat" class="text-center"></p>
</section>
<section id="commentaires" class="container">
    <h1 class="text-center">Commentaires ({{countCommentaire}})</h1>
    <div class="content">
        {% for donnee in commentaires %}
        <div class="flex">
            <div class="left">
                <h2>{{donnee.pseudo}} <i>Posté le {{ donnee.created|date("d/m/Y") }} à
                        {{ donnee.created|date("H:i:s") }}</i></h2>
                <p>{{donnee.contenu}}</p>
            </div>
            <div class="right">
                {% if donnee.statue != 2 %}<button signaleCommentaire="{{donnee.commentaireId}}"
                    class="btn btn-outline-danger">Signaler</button>{% endif %}
            </div>
        </div>
        {% else %}
        <p class="text-center">Aucun commentaire</p>
        {% endfor %}
    </div>
</section>
{% if countCommentaire < 5 %}
<p id="voirPlus" class="text-center">Voir plus</p>
{% endif %}
<script>
    $(document).ready(function () {
        minLimit = 0
        maxLimit = 5
        $("#voirPlus").click(function () {
            minLimit = minLimit + 5
            maxLimit = maxLimit + 5
            $("#commentaires").append("<div id='emplacementCommentaire-" + minLimit + "'></div>");
            $("#emplacementCommentaire-" + minLimit).load("{{ longURL }}&optionLimit=" + minLimit + ",%20" + maxLimit + " #commentaires .content", function () {
                voirPlus = $("#emplacementCommentaire-" + minLimit).html()
                if (voirPlus.length == 117) {
                    $("#emplacementCommentaire-" + minLimit).remove();
                    $("#voirPlus").remove();
                }
            });
        })
        $("#btnCommentaire").click(function (e) {
            e.preventDefault();
            $.post(
                '/ajax/createCommentaire',
                {
                    pseudo: $("#pseudo").val(),
                    commentaire: $("#commentaire").val(),
                    article_id: '{{ article_id }}'
                },
                function (data) {
                    data = data.substr(6, data.length - 8);
                    data = data.split(',');
                    if (data[0] == 'Success') {
                        $("#resultat").html("<p>" + data[1] + "</p>");
                        $("#commentaires").load(" #commentaires");
                    }
                    else {
                        $("#resultat").html("<p>" + data[1] + "</p>");
                    }
                },
                'text'
            );
        });
        $(document).on('click', '[signaleCommentaire]', function (e) {
            $(this).html("Merci !");
            commentaireId = $(this).attr('signaleCommentaire')
            e.preventDefault();
            $.post(
                '/ajax/signaleCommentaire',
                {
                    commentaireId: commentaireId
                },
                function (data) {
                    data = data.substr(6, data.length - 8);
                    data = data.split(',');
                    if (data[0] == 'Success') {
                        $(this).html(data[1]);
                    }
                    else {
                        $(this).html(data[1]);
                    }
                },
                'text'
            );
        });
    });
</script>
{% endblock %}