{% extends 'template.html.twig' %}

{% block body %}
<section class="container pt-4">
    <div id="connexion" class="shadow-1 rond-2">
    <h1>Connexion</h1>
        <!-- <form action="/" method="post"> -->
            <div class="form-group">
                <label for="username">Pseudonyme</label>
                <input type="username" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="*************">
            </div>
            <button type="submit" name="enter" id="btnConnexion" value="oui" class="btn btn-primary m-w-100">Connexion</button>
            <!-- <div class="flex">
                <div class="w-50 m-w-100">
                    <p class="mt-3">
                    <a href="#">Mot de passe oublié</a> / <a href="inscription">S'enregistrer</a>
                    </p>
                </div>
            </div> -->
            <p id="resultat"></p>
        <!-- </form> -->
    </div>
</section>
<script>
$(document).ready(function(){
    $("#btnConnexion").click(function(e){
        e.preventDefault();
        $.post(
            '/ajax/connexion',
            {
                username : $("#username").val(),
                password : $("#password").val()
            },
            function(data){
                data = data.substr(6,data.length-8);
                data = data.split(',');
                if(data[0] == 'Success'){
                    $("#resultat").html("<p>Vous avez été connecté avec succès !</p>");
                    window.location.replace('/');
                }
                else{
                     $("#resultat").html("<p>Erreur lors de la connexion...</p>");
                }
            },
            'text'
         );
    });
});
</script>
{% endblock %}