{% extends 'template.html.twig' %}

{% block body %}
    <section id="contact" class="container flex column">
        <div class="margin-auto">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Votre nom">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" placeholder="Votre e-mail">
            </div>
            <div class="form-group">
                <label for="telephone">Téléphone</label>
                <input type="number" class="form-control" id="telephone" placeholder="Votre numéro de téléphone">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3" placeholder="Votre message"></textarea>
            </div>
            <button id="btnMessage" type="button" class="btn btn-primary">Envoyer</button>
            <p id="resultat"></p>
        </div>
    </section>
    <script>
    $(document).ready(function(){
        $("#btnMessage").click(function(e){
            e.preventDefault();
            $.post(
                '/ajax/contact',
                {
                    nom : $("#nom").val(),
                    email : $("#email").val(),
                    telephone : $("#telephone").val(),
                    message : $("#message").val()
                },
                function(data){
                    data = data.substr(6,data.length-8);
                    data = data.split(',');
                    if(data[0] == 'Success'){
                        $("#resultat").html("<p>"+data[1]+"</p>");
                    }
                    else{
                        $("#resultat").html("<p>"+data[1]+"</p>");
                    }
                },
                'text'
            );
        });
    });
    </script>
{% endblock %}