{% extends 'template.html.twig' %}

{% block body %}
    <section id="articles_home" class="container flex">
        <div class="content-site flex row">
            {% for donnee in articles_tendance %}
            <article class="shadow-1">
                <a href="/article/?article={{ donnee.id }}">
                    <div class="top">
                        <img src="{{ donnee.image }}" />
                    </div>
                    <div class="bottom">
                        <h1 class="cds">Chapitre {{ donnee.categorie }}</h1>
                        <h2 class="gris">{{ donnee.nom }}</h2>
                    </div>
                </a>
            </article>
            {% else %}
            <em>Aucun article</em>
            {% endfor %}
        </div>
        <div class="sidebar">
            <h1 class="gris">Derniers articles</h1>
            <div class="content">
            {% for donnee in articles %}
            <div class="article">
                <a href="/article/?article={{ donnee.id }}">
                    <h1 class="cds">Chapitre {{ donnee.categorie }} <span>- {{ donnee.created|date("d/m/Y") }} à {{ donnee.created|date("H:i:s") }}</span></h1>
                    <h2 class="gris">{{ donnee.nom }}, {{ reducContent(donnee.contenu, 30) }}...</h2>
                </a>
            </div>
            {% else %}
            <em>Aucun article</em>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}