{% extends 'template.html.twig' %}

{% block body %}
<!-- <h1>Erreur 404 : Cette page est introuvable</h1> -->
<div class="flex">
    <img class="margin-auto" src="https://media2.giphy.com/media/8L0Pky6C83SzkzU55a/giphy.gif" alt="404 erreur" />
</div>
{% endblock %}