{% extends 'template.html.twig' %}

{% block body %}
<section id="panel2" class="container shadow-1">
    <div class="row subPanel2">
        <div class="col-3 subsubPanel2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">
                    <i class="far fa-newspaper mr-2"></i> Articles
                </a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">
                    <i class="fas fa-inbox mr-2"></i> Messages
                </a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">
                    <i class="far fa-engine-warning mr-2"></i> Signalements
                </a>
                <a href="{{urlWebsite}}/deconnexion" class="nav-link">
                    <i class="far fa-sign-out-alt"></i> Se déconnecter
                </a>
            </div>
        </div>
        <div class="col-9 othersubsubPanel2">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <a class="btn btn-primary writeArticle" href="{{ urlWebsite }}/panel/edit/?article=new">Ecrire un
                        article</a>
                    {% for donnee in articles %}
                    <div id="article-{{donnee.id}}" class="article flex">
                        <div class="left">
                            <h1 class="cds">{{ donnee.nom }}<span class="gris">,
                                    {{ reducContent(donnee.contenu, 30) }}...</span></h1>
                            <h2 class="gris">Chapitre {{ donnee.categorie }} <span>- {{ donnee.created|date("d/m/Y") }}
                                    à {{ donnee.created|date("H:i:s") }}</span></h2>
                        </div>
                        <div class="right flex">
                            <a class="btnEdit flex" href="{{ urlWebsite }}/panel/edit/?article={{ donnee.id }}"><i
                                    class="fad fa-edit margin-auto"></i></a>
                            <button data-toggle="modal" data-target="#popUpDeleteArticle" value="{{ donnee.id }}"
                                type="button" class="btn btn-outline-danger ml-2 popUpBtnOpenPopUpDeleteArticle"><i
                                    class="fad fa-times"></i></button>
                        </div>
                    </div>
                    {% else %}
                    <p>Aucun article.</p>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    {% for donnee in messages %}
                    <div id="message-{{donnee.id}}" class="article flex">
                        <div class="left">
                            <h1 class="cds">{{ donnee.nom }}<span class="gris"> : {{ donnee.message }}</span></h1>
                            <h2 class="gris">{{ donnee.email }} - (+33){{ donnee.telephone }}</h2>
                        </div>
                        <div class="right flex">
                            <a href="mailto:{{ donnee.email }}" class="btn btn-primary btnReply"><i
                                    class="fas fa-reply"></i></a>
                            <button data-toggle="modal" data-target="#popUpDeleteMessage" value="{{ donnee.id }}"
                                type="button" class="btn btn-outline-danger ml-2 popUpBtnOpenPopUpDeleteMessage"><i
                                    class="fad fa-times"></i></button>
                        </div>
                    </div>
                    {% else %}
                    <p>Aucun message.</p>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    {% for donnee in signalements %}
                    <div id="signalement-{{donnee.commentaireId}}" class="article flex">
                        <div class="left">
                            <h1 class="cds">{{ donnee.pseudo }}<span class="gris">, {{ donnee.contenu }}</span></h1>
                            <h2 class="gris">Posté le <span>{{ donnee.created|date("d/m/Y") }} à
                                    {{ donnee.created|date("H:i:s") }}</span></h2>
                        </div>
                        <div class="right flex">
                            <button data-toggle="modal" data-target="#popUpDeleteSignalement"
                                value="{{ donnee.commentaireId }}"
                                class="btn btn-outline-danger ml-2 popUpBtnOpenPopUpDeleteSignalement"><i
                                    class="fad fa-times"></i></button>
                        </div>
                    </div>
                    {% else %}
                    <p>Aucun signalement.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="popUpDeleteArticle" tabindex="-1" role="dialog" aria-labelledby="popUpDeleteArticleLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popUpDeleteArticleLabel">Êtes-vous sur de bien vouloir supprimer l'article ?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button id="popUpBtnDeleteArticle" deleteArticle="{{ donnee.id }}" type="button" class="btn btn-primary"
                    data-dismiss="modal">Oui</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popUpDeleteMessage" tabindex="-1" role="dialog" aria-labelledby="popUpDeleteMessageLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popUpDeleteMessageLabel">Êtes-vous sur de bien vouloir supprimer le message
                    ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button id="popUpBtnDeleteMessage" deleteMessage="{{ donnee.id }}" type="button" class="btn btn-primary"
                    data-dismiss="modal">Oui</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popUpDeleteSignalement" tabindex="-1" role="dialog"
    aria-labelledby="popUpDeleteSignalementLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popUpDeleteSignalementLabel">Êtes-vous sur de bien vouloir supprimer le
                    signalement ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                <button id="popUpBtnDeleteSignalement" deleteSignalement="{{ donnee.id }}" type="button"
                    class="btn btn-primary" data-dismiss="modal">Oui</button>
                <button id="popUpBtnDeleteSignalementAvecCommentaire" deleteSignalementAvecCommentaire="{{ donnee.id }}"
                    type="button" class="btn btn-success" data-dismiss="modal">Oui avec le commentaire</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".popUpBtnOpenPopUpDeleteArticle").click(function () {
            $("#popUpBtnDeleteArticle").attr("deleteArticle", $(this).val())
        });
        $(".popUpBtnOpenPopUpDeleteMessage").click(function () {
            $("#popUpBtnDeleteMessage").attr("deleteMessage", $(this).val())
        });
        $(".popUpBtnOpenPopUpDeleteSignalement").click(function () {
            $("#popUpBtnDeleteSignalement").attr("deleteSignalement", $(this).val())
            $("#popUpBtnDeleteSignalementAvecCommentaire").attr("deleteSignalementAvecCommentaire", $(this).val())
        });
        $("[deleteArticle]").click(function (e) {
            id = $(this).attr('deleteArticle')
            e.preventDefault();
            $.post(
                '{{ urlWebsite }}/ajax/deleteArticle',
                {
                    id: id
                },
                function (data) {
                    data = data.substr(6, data.length - 8);
                    if (data == 'Success') {
                        $("#article-" + id).remove();
                        console.log(data)
                    }
                    else {
                        console.log(data)
                    }
                },
                'text'
            );
        });
        $("[deleteMessage]").click(function (e) {
            id = $(this).attr('deleteMessage')
            e.preventDefault();
            $.post(
                '{{ urlWebsite }}/ajax/deleteMessage',
                {
                    id: id
                },
                function (data) {
                    data = data.substr(6, data.length - 8);
                    if (data == 'Success') {
                        $("#message-" + id).remove();
                    }
                    else {
                        console.log(data)
                    }
                },
                'text'
            );
        });
        $("[deleteSignalement]").click(function (e) {
            id = $(this).attr('deleteSignalement')
            e.preventDefault();
            $.post(
                '{{ urlWebsite }}/ajax/deleteSignalement',
                {
                    id: id
                },
                function (data) {
                    data = data.substr(6, data.length - 8);
                    if (data == 'Success') {
                        $("#signalement-" + id).remove();
                    }
                    else {
                        console.log(data)
                    }
                },
                'text'
            );
        });
        $("[deleteSignalementAvecCommentaire]").click(function (e) {
            id = $(this).attr('deleteSignalementAvecCommentaire')
            e.preventDefault();
            $.post(
                '/ajax/deleteSignalementAvecCommentaire',
                {
                    id: id
                },
                function (data) {
                    data = data.substr(6, data.length - 8);
                    if (data == 'Success') {
                        $("#signalement-" + id).remove();
                    }
                    else {
                        console.log(data)
                    }
                },
                'text'
            );
        });
    })
</script>
{% endblock %}