{% extends 'template.html.twig' %}

{% block body %}
<section class="container">
    <a href="/panel/" class="btn btn-primary btnRetour mt-4"><i class="far fa-backspace"></i> Retour</a>
</section>
<section id="editArticle" class="container flex column">
    <input id="nom" class="margin-auto mt-4" value="{{article.nom}}" />
    <textarea id="editeur">{{article.contenu}}</textarea>
    <div class="btnForSaveAndCancel">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Chapitre : </span>
            </div>
            <input type="number" class="form-control" id="categorie" value="{{ article.categorie }}" require>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend hidden">
                <span class="input-group-text">URL de l'image : </span>
            </div>
            <input type="text" class="form-control hidden" id="image" value="{{ article.image }}">
            <form method="post" class="w-100" action="" enctype="multipart/form-data" id="uploadImage">
                <div class="input-group mb-3 w-100">
                    <div class="custom-file w-100">
                        <input type="file" class="custom-file-input" id="file">
                        <label class="custom-file-label" for="file">Choisir l'image de présentation</label>
                    </div>
                </div>
                <button id="btnUploadImage" type="button" class="btn btn-primary w-100">Envoyer</button>
            </form>
        </div>
        <button id="btnSaveArticle" type="button" class="btn btn-primary">Sauvegarder</button>
        <button type="button" class="btn btn-secondary btnCancelArticle">Annuler</button>
    </div>
    <p id="resultat"></p>
</section>
    <script>
    $(document).ready(function(){
        $("#btnSaveArticle").click(function(e){
            e.preventDefault();
            $.post(
                '/ajax/saveArticle',
                {
                    nom : $("#nom").val(),
                    contenu : $("#editeur").val(),
                    article_id : '{{ article_id }}',
                    categorie : $("#categorie").val(),
                    image : $("#image").val()
                },
                function(data){
                    data = data.substr(6,data.length-8);
                    data = data.split(',');
                    if(data[0] == 'Success'){
                        $("#resultat").html("<p>"+data[1]+"</p>");
                        window.location.replace('/panel/');
                    }
                    else{
                        $("#resultat").html("<p>"+data[1]+"</p>");
                    }
                },
                'text'
            );
        });
        $("#btnUploadImage").click(function(){
            var fd = new FormData();
            var files = $('#file')[0].files[0];
            fd.append('file',files);

            $.ajax({
                url: '/ajax/uploadImage',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function(response){
                    if(response != ['Failed']){
                        response = response.substring(0,response.length-2)
                        $("#image").attr("value",response)
                        $("#resultat").html("<p>L'image à bien été envoyer.</p>");
                    }else{
                        alert('file not uploaded');
                    }
                },
            });
        });
    });
    </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/ui/trumbowyg.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/trumbowyg.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/langs/fr.min.js"></script>
<script>
$('#editeur').trumbowyg({
    lang: 'fr'
});
</script>
{% endblock %}