<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Billet simple pour l'Alaska</title>
        <meta property="og:site_name" content="Billet simple pour l'Alaska">
		<meta property="og:title" content="">
		<meta property="og:image" content="">
		<meta property="og:description" content="">
        <meta name="medium" content="image">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/97fb64c932.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-1">
            <a class="navbar-brand" href="#">Billet simple pour l'<span class="hub">Alaska</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Chapitre
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for donnee in listeChapitre %}
                        <a class="dropdown-item" href="/?search={{ donnee.categorie }}">Chapitre {{ donnee.categorie }}</a>
                        {% else %}
                        <p class="margin-auto text-center">Aucun chapitre</p>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/a-propos">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/">
                    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Chercher" aria-label="Chercher">
                    <button class="btn btn-outline-cds my-2 my-sm-0" type="submit"><i class="far fa-search"></i></button>
                </form>
                {% if username %}
                <div class="right flex"><p class="margin-auto msxi-none">Bienvenue {{ username }} !</p></div>
                {% else %}
                <a class="right" href="/connexion"><i class="fal fa-user"></i></a>
                {% endif %}
            </div>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="container mt-4">
            <div class="mb-1 flex mb-4">
                <div class="mb-1-1 flex column w-50 m-w-100 margin-auto">
                    <h1 class="text-center">Retrouvez-nous sur :</h1>
                    <div class="margin-auto social">
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                <div class="flex column w-50 m-w-100">
                    <h1 class="text-center">Liens utiles</h1>
                    <div class="margin-auto">
                        <a href="/mentions-legales">Mentions légales</a> <a class="ml-2" href="/panel/connexion">Admin</a>
                    </div>
                </div>
            </div>
            <div>
                <p class="text-center">Copyright © All rights reserved. Billet simple pour l'Alaska</p>
            </div>
        </footer>
        {% block javascript %}
        {% endblock %}
    </body>